{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
	PwnMyChall challenges gives points to the user who made the challenge. The more solves a PwnMyChall challenge has,
	the lower points it gives to the creator.
</div>
{% endblock %}


{% block value %}

<div class="form-group">
	<label>Dynamic Challenge Settings:</label>
	
	<div class="alert alert-secondary" role="alert">
		Dynamic value challenges decrease in value as they receive solves. The more solves a dynamic challenge has,
		the lower its value is to everyone who has solved it.
	</div>
</div>

<div class="form-group">
	<label for="value">Initial Value<br>
		<small class="form-text text-muted">
			This is how many points the challenge is worth initially to the players.
		</small>
	</label>
	<input type="number" class="form-control" name="initial" placeholder="Enter value" required>
</div>

<div class="form-group">
	<label for="value">Decay Function<br>
		<small class="form-text text-muted">
			<span>How the dynamic value will be calculated based on the Decay value</span>
			<ul>
				<li>Linear: Calculated as <code>Initial - (Decay * SolveCount)</code></li>
				<li>Logarithmic: Calculated as <code>(((Minimum - Initial) / (Decay^2)) * (SolveCount^2)) + Initial</code></li>
			</ul>
		</small>
	</label>
	<select name="function" class="custom-select">
		<option value="linear">Linear</option>
		<option value="logarithmic">Logarithmic</option>
	</select>
</div>

<div class="form-group">
	<label for="value">Decay<br>
		<small class="form-text text-muted">
			<span>The decay value is used differently depending on the above Decay Function</span>
			<ul>
				<li>Linear: The amount of points deducted per solve. Equal deduction per solve.</li>
				<li>Logarithmic: The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less
					points. Later solves will lose more points</li>
			</ul>
		</small>
	</label>
	<input type="number" class="form-control" name="decay" min="1" placeholder="Enter Decay value" required>
</div>

<div class="form-group">
	<label for="value">Minimum Value<br>
		<small class="form-text text-muted">
			This is the lowest that the challenge can be worth
		</small>
	</label>
	<input type="number" class="form-control" name="minimum" placeholder="Enter minimum value" required>
</div>

<div class="form-group">
	<label>PwnMyChall Challenge Settings:</label>

	<div class="alert alert-secondary" role="alert">
		PwnMyChall .......
	</div>
</div>

<div class="form-group">
	<label>Creator<br>
		<small class="form-text text-muted">
			The user who wrote the challenge. The user named exactly as this field will be rewarded with points.<br>
		</small>
	</label>
	<input type="text" class="form-control" name="creator" placeholder="Enter challenge's creator">
</div>

<div class="form-group">
	<label for="value">Max Reward<br>
		<small class="form-text text-muted">
			The maximum reward in points given to the challenge creator. The less solves the creator's challenge has, the more points will be given to the creator, to this maximum. But note: a 0 solves challenge will be considered impossible and the minimum value will be given to the creator!
		</small>
	</label>
	<input type="number" class="form-control" name="max_reward" placeholder="Enter a reward" required>
</div>

<div class="form-group">
	<label for="value">Min Reward<br>
		<small class="form-text text-muted">
			The minimum reward in points given to the challenge creator. The more solves the creator's challenge has, the less points will be given to the creator, to this minimum. If you want the creator to lose points because of a too easy challenge, you can enter a negative value!
		</small>
	</label>
	<input type="number" class="form-control" name="min_reward" placeholder="Enter a reward" required>
</div>

<div class="form-group">
	<div class="alert alert-secondary" role="alert">
		The reward given to the creator will be calculated based on these values and the current total number of player in the CTF.<br>
		<span>The reward will be calculated according to this ease function:</span><br>
		<img src='/plugins/CTFd-PwnMyChall/assets/equation.png'>
	</div>
</div>

<div class="form-group">
	<label for="value">Max Reward Threshold Percentage<br>
		<small class="form-text text-muted">
			The first 'x'% solves (on total player number) will still give the maximum reward to the creator.<br><code>0-100</code>
		</small>
	</label>
	<input type="number" class="form-control" name="max_threshold" placeholder="Enter a percentage" required>
</div>

<div class="form-group">
	<label for="value">Min Reward Threshold Percentage<br>
		<small class="form-text text-muted">
			The solves after 'x'% solves (on total player number) will begin to give the minimum reward to the creator.<br><code>0-100</code>
		</small>
	</label>
	<input type="number" class="form-control" name="min_threshold" placeholder="Enter a percentage" required>
</div>

{% endblock %}


{% block type %}
<input type="hidden" value="pwnmychall" name="type" id="chaltype">
{% endblock %}